<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
	<!-- CSS  -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="{{site.baseurl}}{{site.css_dir}}materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<link href="{{site.baseurl}}{{site.css_dir}}style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<!-- Favicon -->
	<link rel="apple-touch-icon" sizes="57x57" href="{{site.baseurl}}{{site.favicon_dir}}apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="{{site.baseurl}}{{site.favicon_dir}}apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="{{site.baseurl}}{{site.favicon_dir}}apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="{{site.baseurl}}{{site.favicon_dir}}apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="{{site.baseurl}}{{site.favicon_dir}}apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="{{site.baseurl}}{{site.favicon_dir}}apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="{{site.baseurl}}{{site.favicon_dir}}apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="{{site.baseurl}}{{site.favicon_dir}}apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}{{site.favicon_dir}}apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="{{site.baseurl}}{{site.favicon_dir}}android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}{{site.favicon_dir}}favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="{{site.baseurl}}{{site.favicon_dir}}favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}{{site.favicon_dir}}favicon-16x16.png">
	<link rel="manifest" href="{{site.baseurl}}{{site.favicon_dir}}manifest.json">
	<meta name="msapplication-TileColor" content="#1E88E5">
	<meta name="msapplication-TileImage" content="{{site.baseurl}}{{site.favicon_dir}}ms-icon-144x144.png">
	<meta name="theme-color" content="#1E88E5">

	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

</head>
